/* HEADER SECTION */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  position: sticky;
  top: 0px;
  z-index: 2;
  padding: 7px 0px;
}

.start {
  display: flex;
  align-items: center;
  margin-left: 16px;
}

.menu-icon > img {
  height: 35px;
  width: 25px;
}

.youtube-logo {
  height: 20px;
  margin-left: 16px;
}

.search-bar {
  flex-grow: 1;
  display: flex;
  margin: 0 10.5rem 0 6rem;
  align-items: center;
}

.search-input {
  width: 100%;
  border-radius: 35px;
  outline: none;
  border: none;
  background: #eee;
  height: 43px;
  padding-left: 23px;
  font-size: medium;
}

.search-input::placeholder {
  font-size: medium;
}

.search-btn {
  border-radius: 35px;
  border: none;
  outline: none;
  background: #eee;
  margin-left: -55px;
  cursor: pointer;
}

.search-btn > img {
  height: 30px;
}

.mic-btn {
  margin-left: -10rem;
  border-radius: 50%;
  border: none;
  outline: none;
  background: #eee;
  display: flex;
  cursor: pointer;
}

.mic-btn > img {
  width: 22px;
  height: 31px;
  padding: 6px;
}

.search-bar > .form {
  display: flex;
}

.menu-icons {
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-icons > a {
  padding: 0 15px;
}

.menu-icons > a > img {
  height: 25px;
}

.menu-channel-icon > img {
  height: 36px;
}

/* VIDEO BOX SECTION */

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.video-box-container {
  /* background-color: #fae31a; */
  grid-area: 1 / 1 / 6 / 4;
  margin: 40px 0 0 100px;
}

.video-box-container > .video-player {
  margin-bottom: 15px;
}

.video-box-container > .hashtag > a {
  text-decoration: none;
  color: #285cec;
  font-size: 14px;
}

.video-box-container > .title {
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.video-box-container > .menu-container {
  display: flex;
}

.video-box-container > .menu-container > a {
  margin: 0 5px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
}

.video-box-container > .menu-container > a > img {
  height: 22px;
  margin-right: 3px;
}

.video-box-container > .menu-container > .views {
  font-family: "Poppins", sans-serif;
  color: #3f3f3f;
  font-size: 15px;
  margin-right: 30px;
}

/* DESCRIPTION SECTION */

.profile-info {
  margin-right: 15px;
  height: 75px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Poppins', sans-serif;
}

.profile-info > .img-container-description {
  display: flex;
  align-items: center;
}

.profile-info > .img-container-description > img {
  height: 54px;
  width: 54px;
  border-radius: 50%;
  cursor: pointer;
}

.channel-info {
  margin-left: -350px;
}

.channel-info > p {
  margin-top: 29px;
  color: #666;
  font-size: 12px;
}

.channel-name-description {
  cursor: pointer;
  position: absolute;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  margin-top: -9px;
  display: flex;
}

.channel-name-description > img {
  padding: 23px 5px;
  height: 12px;
}

.subscribed-info {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.subscribe-btn {
  outline: none;
  border: none;
  font-weight: bolder;
  height: 35px;
  padding: 10px;
  margin-right: 10px;
  color: #666;
  cursor: pointer;
}

.subscribed-info > img {
  height: 24px;
  cursor: pointer;
}

.line {
  margin: 15px 15px 18px 0px;
  background: #ddd;
  height: 1px;
}

.description-content {
  margin-left: 60px;
  font-family: 'Barlow', sans-serif;
  font-size: 15px;
}

.description-content > p > a, .description-content > .show-true > p > a{
  text-decoration: none;
  color: #285cec;
}

.wide-line {
  background: #ddd;
  height: 6px;
  width: 90%;
  margin-bottom: 50px;
}

.video-category-and-game {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin-bottom: 40px;
}

.gta-box, .category-box {
  display: flex;
  background: #f5f5f5;
  height: 100px;
  width: 280px;
  cursor: pointer;
}

.gta-box > .img-container > img {
  height: 100px;
  width: 73px;
}

.gta-box > .details-container > h3 {
  font-size: 18px;
  margin-top: 10px;
}

.gta-box > .details-container > p {
  color: #555;
  margin-top: -10px;
}

.gta-box > .details-container > span {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  color: #666;
  margin-top: -10px;
}

.gta-box > .details-container > span > img {
  margin-left: 5px;
  height: 25px;
}

.category-box > .img-container {
  display: flex;
  align-items: center;
  height: 100px;
}

.category-box > .img-container > img{
  height: 50%;
  width: 54px;
  border-radius: 50%;
  margin-left: 15px;
}

.category-box > .details-container > h3 {
  font-size: 18px;
  margin-top: 20px;
}

.category-box > .details-container > span {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  color: #666;
  margin-top: -10px;
}

.category-box > .details-container > span > img {
  margin-left: 5px;
  height: 25px;
}

.description-content > button {
  background: #fff;
  font-size: 12px;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  color: #888;
}

/* CATEGORIES SECTION  */

.categories-container {
  grid-area: 1 / 4 / 2 / 6;
  height: 60px;
  width: 100%;
  margin-top: 40px;
  display: flex;
  align-items: center;
}

.category-section {
  display: flex;
  align-items: center;
}

.category-section > button {
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

.category-section > .category {
  display: inline-block;
  padding: 6px 10px;
  border-radius: 35px;
  border: none;
  outline: 1px solid #ccc;
  background-color: #eee;
  margin: auto 5px;
  transition: background .5s;
}

.category-section > .category:hover {
  background: #ddd;
}

.category-section > .active {
  background: #111;
  color: #fff;
  outline: none;
  transition: all .5s;
}

.category-section > .active:hover {
  background: #000;
}

.next-btn {
  height: 35px;
  width: 35px;
  padding: 6px 10px;
  border-radius: 35px;
  border: none;
  background-color: #fff;
  box-shadow: 1px 1px 15px 15px rgba(255, 255, 255, 1);
  margin-left: -30px;
  margin-top: -3px;
}

.next-btn > img {
  width: 20px;
  margin: auto;
  margin-left: -1px;
  padding-top: 1px;
}

/* VIDEOS SECTION  */

.videos-section {
  grid-area: 2 / 4 / 6 / 6;
  margin-top: -200px;
  width: 75%;
  height: 700px;
  font-family: 'Poppins', sans-serif;
}

.video-container {
  display: flex;
  margin-bottom: 6px;
  cursor: pointer;
}

.img-container {
  height: 115px;
}

.img-container > img {
  height: 115px;
  width: 200px;
}

.img-container > span {
  position: absolute;
  background: #000;
  color: #fff;
  opacity: .8;
  padding: 1px;
  font-size: 13px;
  margin-left: -40px;
  margin-top: 90px;
}

.details-container {
  display: flex;
  flex-direction: column;
  margin-left: 9px;
}

.details-container > h3{
  font-size: 14px;
  width: 100%;
  margin-top: 2px;
  font-weight: 400;
}

.channel-name {
  margin-top: -7px;
  display: flex;
  align-items: center;
}

.channel-name > p {
  font-size: 12px;
  color: #555;
}

.channel-name > img {
  margin-left: 4px;
  color: #555;
  height: 14px;
}

.views-date {
  margin-top: -23px;
  display: flex;
  align-items: center;
}

.views-date > p {
  font-size: 12px;
  margin-right: 7px;
  color: #555;
}

.views-date > img {
  height: 7px;
  margin-right: 8px;
}

/* COMMENTS SECTION  */

.comments-header {
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  margin-top: -20px;
}

.comments-header > h3 {
  font-size: 18px;
}

.comments-header > span {
  margin-left: 25px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.comments-header > span > img {
  margin-right: 4px;
  height: 32px;
}

.write-comment > .comment-input > input {
  width: 90%;
  height: 20px;
  margin-left: 30px;
  border: none;
  outline: none;
  border-bottom: 1px solid #888;
  font-size: 16px;
  padding: 3px;
}

.write-comment > .comment-input > input:focus {
  border-bottom: 2px solid #000;
}

.write-comment > .comment-input {
  display: flex;
}

.write-comment > .comment-input > .img-container {
  height: 46px;
}

.write-comment > .comment-input > .img-container > img {
  height: 46px;
  width: 46px;
  cursor: pointer;
}

.write-comment > .emoji {
  margin-left: 70px;
  display: inline;
}

.write-comment > .emoji > button {
  background: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}

.write-comment > .emoji > button > img {
  height: 18px;
}

.write-comment > .buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: -30px;
}

.write-comment > .buttons > button {
  background: #fff;
  border: none;
  font-size: 14px;
  cursor: pointer;
  height: 30px;
}

.write-comment > .buttons > .cancel-btn {
  color: #444;
  padding: 15px;
  margin-right: 10px;
}

.write-comment > .buttons > .comment-btn {
  background: #f5f5f5;
  padding: 15px;
  font-weight: bold;
  color: #999;
  letter-spacing: .7px;
}